@font-face {
  font-family: 'Actor';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Actor/Actor-Regular.woff2") format('woff2'), url("../fonts/Actor/Actor-Regular.woff") format('woff'), url("../fonts/Actor/Actor-Regular.ttf") format('truetype');
}