input.reset, select.reset {
  border: unset;

  font-size: 12px;

  color: var(--tg-theme-text-color, $tg-text-color);
  background-color: var(--tg-theme-bg-color, $tg-bg-color);
  box-shadow: unset;

  &::placeholder {
    color: #888888;
  }

  &:hover {
    border: unset;
  }

  &:focus {
    border: unset;

    box-shadow: unset;
  }

  &:active {
    border: unset;

    box-shadow: unset;
  }
}

a {
  &:hover {
    border: unset;
  }

  &:focus {
    border: unset;

    box-shadow: unset;
  }

  &:active {
    border: unset;

    box-shadow: unset;
  }
}