* {
  -webkit-tap-highlight-color: transparent;
}

input.reset, select.reset, textarea.reset {
  border: unset;

  font-size: 12px;
  box-shadow: unset;

  &::placeholder {
    color: #7D7D85;
  }
}

button, a {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a:hover {
  color: unset;
}