@import "bulma-responsive-tables/bulma-responsive-tables";
@import "bulma/bulma";
@import "fonts";
@import "reset";

.table--blur {
  td {
    filter: blur(3px);
  }
}

body {
  .app__layout {
    min-height: 100vh;
    height: 100%;
    padding: 15px;
    overflow: hidden;

    font-family: "SF Pro Text", sans-serif;

    background: theme-var(--tg-theme-secondary-bg-color, $--tg-secondary-bg-color);
  }
}


