@import "bulma-responsive-tables/bulma-responsive-tables";
@import "bulma/bulma";
@import "fonts";
@import "reset";

.app__layout {
  color: theme-var-tg(--tg-theme-text-color, $--tg-text-color)
}

.table--blur {
  td {
    filter: blur(3px);
  }
}

body {
  .app__layout {
    min-height: 100vh;
    height: 100%;
    padding: 15px;
    overflow: hidden;

    font-family: "SF Pro Text", sans-serif;
  }
}


