$input-background-color: var(--tg-theme-bg-color, $tg-bg-color);

@import "bulma-responsive-tables/bulma-responsive-tables";
@import "bulma/bulma";
@import "fonts";
@import "theme-light";
@import "theme-dark";

body {
  color: var(--tg-theme-text-color, $tg-text-color);
}

.table--blur {
  td {
    filter: blur(3px);
  }
}

input.reset {
  border: unset;

  font-size: 12px;

  color: var(--tg-theme-text-color, $tg-text-color);
  background-color: var(--tg-theme-bg-color, $tg-bg-color);
  box-shadow: unset;

  &::placeholder {
    color: #888888;
  }

  &:hover {
    border: unset;
  }

  &:focus {
    border: unset;

    box-shadow: unset;
  }

  &:active {
    border: unset;

    box-shadow: unset;
  }
}
