@import 'tg-variables';
@import 'mixins';

.app__layout.light {
  @include spread-map($theme-map-light);
}

.app__layout.dark {
  @include spread-map($theme-map-dark);

  .divider {
    background-color: theme-var($--divider-color);
  }

  .market {
    &__line {
      background-color: theme-var($--divider-color);
    }

    &__quote__text {
      color: var(--tg-theme-text-color, #f5f5f5);
      background-color: theme-var($--hint-color);
    }

    &__widget {
      span {
        color: #0B2349;
        background: linear-gradient(90deg, #23A2F3 5%, #638FFE 13%, #DE79F1 51%, #87ACFB 75%, #37DFF0 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .icon {
        stroke: #37DFF0;
      }
    }
  }

  .card--bg {
    background: theme-var($--card-bg-color) !important;
  }

  .filter--bg {
    background: theme-var($--filter-bg-color);
  }

  .custom-select {
    &__label {
      color: #808081;
    }

    .icon {
      path {
        stroke: #ffffff;
      }
    }

    &__selected {
      &__text {
        color: #ffffff;
      }
    }

    &__items {
      color: #ffffff;
    }
  }

  .custom-input {
    &__label {
      color: #808081;
    }

    input {
      color: #ffffff;
    }
  }

  .product__card__info {
    &__price {
      color: #808081;
    }

    &__store {
      span {
        &:first-child {
          color: #808081;
        }
      }
    }
  }

  .review__rating span {
    color: #ffffff;
  }
}