@import 'tg-variables';
@import 'mixins';

.app__layout.light {
  @include spread-map($theme-map-light);

  .market__widget {
    span {
      color: var(--tg-theme-text-color, $--tg-text-color);
    }
  }
}



.app__layout.dark {
  @include spread-map($theme-map-dark);

  .market__widget {
    span {
      color: #0B2349;
      background: linear-gradient(90deg, #23A2F3 5%, #638FFE 13%, #DE79F1 51%, #87ACFB 75%, #37DFF0 95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .icon {
      stroke: #37DFF0;
    }
  }
}